@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookshelf MVC</h1>
    <p class="lead">A site for viewing and updating books in the home library.</p>
</div>

<h2>View the inventory</h2>
<p>
    Looking for a book to read? Check out the inventory on the @Html.ActionLink("Inventory", "Index", "Inventory") page.
</p>